/* XYZ */
.font-calibre {
  font-family: "Calibri", sans-serif;
}

@keyframes xyz-scale-in {
  from {
    transform: translate(-50%, -50%) scale(0.98);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes xyz-bounce-in {
  0% {
    transform: translate(-50%, -50%) scale(0.995);
  }
  60% {
    transform: translate(-50%, -50%) scale(0.99);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes xyz-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
