@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  /* ededed, 151515 */
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-display {
    font-family: var(--font-display);
  }

  .font-decorative {
    font-family: var(--font-viaoda-libre);
    font-style: italic;
  }

  .font-cursive {
    font-family: var(--font-mea-culpa);
  }

  .link {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 4px;
    text-decoration-color: rgba(205, 226, 244, 0.7);
  }

  .dashed-link {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: rgba(180, 182, 184, 0.7);
  }

  .super-fancy-text-fallback {
    color: rgba(255, 255, 255, 0.9);
  }
  .super-fancy-text {
    background: url("/home/wave.gif") no-repeat center center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    mask-image: linear-gradient(to right, black, black);
    -webkit-mask-image: linear-gradient(to right, black, black);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
  }

  .no-scrollbar {
    overflow: auto; /* or overflow: scroll; */
    scrollbar-width: none; /* Firefox */
  }

  /* Webkit-specific scrollbar hiding */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
/* 
.otlg {
  outline: 2px solid green;
}
.otlo {
  outline: 2px solid orange;
}
.otlr {
  outline: 2px solid red;
}
.otlb {
  outline: 2px solid blue;
}
.otl4 {
  outline: 4px solid yellow;
}
.otl8 {
  outline: 8px solid rebeccapurple;
}

.bor1 {
  border: 2px solid yellow;
}

.bor2 {
  border: 2px solid salmon;
}

.bor3 {
  border: 2px solid darkcyan;
} */
