@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 16px;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  /* font-family: var(--font-inter); */
  font-family: Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .cursive {
    font-family: var(--font-mea-culpa);
  }

  .decorative {
    font-family: var(--font---font-viaoda-libre);
  }

  .oxanium {
    font-family: var(--font-oxanium);
  }

  .link {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 3px;
    text-decoration-color: rgba(205, 226, 244, 0.7);
  }

  .dashed-link {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: rgba(180, 182, 184, 0.7);
  }

  .super-fancy-text-fallback {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
  }
  .super-fancy-text {
    font-weight: 700;
    background: url("/assets/wave.gif") no-repeat center center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    mask-image: linear-gradient(to right, black, black);
    -webkit-mask-image: linear-gradient(to right, black, black);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
  }
}
