.b {
  background-color: rgb(230, 166, 166);
}

.bb {
  border: 2px solid red;
}

:root {
  --dynamicIslandIdleWidth: 136px;
  --dynamicIslandIdleHeight: 41px;
}

/* .iPhone-small {
  background-color: #ffffff;
  width: 406px;
  height: 330px;
  outline: 10px solid black;
  border-radius: 55px;
} */

.iPhone {
  background-color: white;
  width: 427px;
  height: 95vh;
  outline: 12px solid black;
  border-radius: 55px;
}

.horizon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 114%;
  height: 70px;
  background-color: white;
  display: none;
  /* background-color: red; */
  /* opacity: 0.2; */
  /* border-top: 1px solid rgb(38, 38, 38); */
  /* -webkit-box-shadow: inset 0 2px rgb(244, 244, 244); */
  /* box-shadow: inset 0 2px rgb(244, 244, 244); */
}

/* .dynamicIsland-small {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translate(-50%);
  width: 130px;
  height: 38px;
  background-color: black;
  border-radius: 999px;
} */

.dynamicIsland {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translate(-50%);
  /* outline: 1px dotted black; */
}

.idle {
  width: var(--dynamicIslandIdleWidth);
  height: var(--dynamicIslandIdleHeight);
}

.compactLiveView {
  /* min-width: var(--dynamicIslandIdleWidth); */
  height: var(--dynamicIslandIdleHeight);
}

.expandedLiveView {
  min-width: var(--dynamicIslandIdleWidth);
  min-height: var(--dynamicIslandIdleHeight);
}

/*
-
-
-
-
-
*/
/* TODO: Component Styles, must be transfer to module CSS? */
/* for Ride component */
.front {
  height: 90%;
  width: 50%;
  position: absolute;
  top: 2px;
  right: -2px;
  border-radius: 9999px;
  background-color: #ffffff;
  opacity: 0.8;
  box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.95);
}
.headlight {
  height: 90%;
  width: 50%;
  position: absolute;
  top: 3px;
  right: -5px;
  border-radius: 9999px;
  background-color: #ffffff;
  opacity: 0.9;
  filter: blur(3px);
  box-shadow: 3px 0px 10px 1px rgba(255, 255, 255, 0.9);
}

.rear {
  height: 100%;
  width: 30px;
  position: absolute;
  top: 1px;
  left: -2px;
  border-radius: 9999px;
  background-color: #696969;
  box-shadow: -2px 1px 3px 0px rgba(0, 0, 0, 0.95);
  /* visibility: hidden; */
}
.rearlight {
  height: 90%;
  width: 30%;
  position: absolute;
  top: 1px;
  left: 0px;
  filter: blur(2px);
  border-radius: 9999px;
  box-shadow: -1px 1px 1px 1px rgba(235, 53, 53, 1),
    -3px 1px 2px 1px rgba(0, 0, 0, 0.8);
}
.rearlightSpread {
  z-index: 100;
  height: 110%;
  width: 10px;
  position: absolute;
  top: 2px;
  left: -12px;
  filter: blur(8px);
  border-radius: 9999px;
  background-color: red;
}
.carBody {
  width: fit-content;
  height: fit-content;
  background-color: #000000;
  overflow: hidden;
  filter: brightness(1.25);
  border-radius: 9999px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.95);
}

/* for Flight component */
@keyframes drawLine {
  from {
    stroke-dashoffset: 35%;
  }
  to {
    stroke-dashoffset: 10%;
  }
}

@keyframes movePlane {
  from {
    offset-distance: 60%;
  }
  to {
    offset-distance: 85%;
  }
}
